<?xml version="1.0" encoding="UTF-8"?>
<!-- 아래 !DOCTYPE 이 있어야 관련 자동완성을 도와줍니다 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace에 Mapper.class 위치를 명시하여 맵핑한다. -->
<mapper namespace="com.example.mapper.AccountMapper">

<!-- Mapper.class에 매소드명이 id 파라미터 타입은 풀패키지명 또는 properties에 설정으로.. -->

    <!-- 
        ● 참고 
            1. select 속성의 mybatis 
                - Stored Procedure 사용 시
                    statementType 을 "CALLABLE" 로 지정
                    parameterType 을 패키지 단위로 명시
                    resultType 을 한 행이 포함하고 있는 Data Type (ex. Account Entity) 로 명시
                               !! 한개든 2개든 !!

            2. insert , update 속성의 mybatis
                - Stored Procedure 사용 시
                    statementType 을 "CALLABLE" 로 지정
                    parameterType 을 패키지 단위로 명시
                    resultType 을 선언하지 않는다.
     -->
    <!-- UP_ACT_Account_S -->
    <select id="selectAccountEntity" 
            parameterType="com.example.model.AccountModel"
            resultType="com.example.entity.AccountEntity"
            statementType="CALLABLE">
        {
                call UP_ACT_Account_S
                (
                    #{Account_ID}
                )
        }
    </select>

    <!-- UP_ACT_Account_L -->
    <select id="selectAccountEntityList" 
            parameterType="com.example.model.AccountModel"
            resultType="com.example.entity.AccountEntity"
            statementType="CALLABLE">
        {
                call UP_ACT_Account_L
                (
                      #{Account_ID}
                    , #{ACT_Name}
                    , #{ACT_NickName}
                    , #{ACT_Activate_YN}
                    , #{Delete_YN}
                    , #{Use_YN}
                    , #{PAGE_NUMBER}
                    , #{ROW_COUNT}

                )
        }
    </select>

    <!-- UP_ACT_Account_C -->
    <insert id="createAccountEntity" 
            parameterType="com.example.model.AccountModel"
            statementType="CALLABLE">
        {
                call UP_ACT_Account_C
                (
                      #{Account_ID}		
                    , #{ACT_Email}	
                    , #{ACT_Password}
                    , #{ACT_Name}
                    , #{ACT_NickName}
                    , #{ACT_Activate_YN}
                    , #{Delete_YN}
                    , #{Use_YN}
	            )
        }
    </insert>

    <!-- UP_ACT_Account_U -->
    <update id="updateAccountEntity" 
            parameterType="com.example.model.AccountModel"
            statementType="CALLABLE">
        {
                call UP_ACT_Account_U
                (
                      #{Account_ID}		
                    , #{ACT_Email}	
                    , #{ACT_Password}
                    , #{ACT_Name}
                    , #{ACT_NickName}
                    , #{ACT_Activate_YN}
                    , #{Delete_YN}
                    , #{Use_YN}		
                )
        }
    </update>

    <!-- UP_ACT_Account_Use_YN_U -->
    <update id="updateAccountUseYN" 
            parameterType="com.example.model.AccountModel"
            statementType="CALLABLE">
        {
                call UP_ACT_Account_Use_YN_U
                (
                      #{Account_ID}		
                    , #{Use_YN}		
                )
        }
    </update>

    <!-- UP_ACT_Account_Duplicate_S -->
    <select id="selectAccountDuplicate" 
            parameterType="com.example.model.AccountModel"
            resultType="com.example.entity.AccountEntity"
            statementType="CALLABLE">
        {
                call UP_ACT_Account_Duplicate_S
                (
                      #{Account_ID}
                    , #{ACT_Email}
                )
        }
    </select>

     <!-- UP_ACT_Account_Login_S -->
    <select id="selectAccountLogin"
            parameterType="com.example.model.AccountModel"
            resultType="com.example.entity.AccountEntity"
            statementType="CALLABLE">
        {
                call UP_ACT_Account_Login_S
                (
                      #{Account_ID}
                    , #{ACT_Password}
                )
        }
    </select>
</mapper>
